@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but allow scrolling */
.no-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.c-hover-sm {
  @apply transition hover:scale-105;
}
.c-hover-md {
  @apply transition hover:scale-110;
}
.c-hover-lg {
  @apply transition hover:scale-125;
}
